@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities { */
/*   @variants responsive { */
/*     /* Hide scrollbar for Chrome, Safari and Opera */
/*     .no-scrollbar::-webkit-scrollbar { */
/*       display: none; */
/*     } */
/**/
/*     /* Hide scrollbar for IE, Edge and Firefox */
/*     .no-scrollbar { */
/*       -ms-overflow-style: none; /* IE and Edge */
/*       scrollbar-width: none; /* Firefox */
/*     } */
/*   } */
/* } */

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 12px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

/* Fonts */
.inter {
  font-family: var(--font-inter);
}

.arvo {
  font-family: var(--font-arvo);
}

.space_mono {
  font-family: var(--font-space_mono);
}

h1,
h2,
h3,
h4,
h5 {
  @apply arvo;
}

/* Form */
.speaker_question_title {
  @apply text-4xl italic;
}

.form_section_title {
  @apply text-4xl font-semibold text-yellow-400;
}

.form_section_wrapper {
  @apply border-[1px] border-stone-400 border-opacity-60 px-4 py-9;
}

.fields_wrapper {
  @apply grid gap-y-1 gap-x-4;
}

/* General */
body {
  @apply inter bg-stone-900 text-white antialiased;
}

header,
section,
footer {
  @apply flex justify-center py-6 scroll-mt-16;
}

footer {
  @apply pb-0;
}

.bg_primary {
  @apply bg-gradient-to-b from-[#f8bf33] via-[#f8ce19] to-[#ffdc02];
}

.bg_secondary {
  @apply bg-gradient-to-b from-yellow-400 via-yellow-300 to-yellow-200;
}

.bg_accent {
  @apply bg-[#242424];
}

.bg_gradient {
  @apply bg-gradient-to-r from-[#daebfd] to-[#0f68a9];
}

.ul {
  @apply list-disc pl-6;
}

.box_shadow {
  @apply shadow-lg shadow-black/70;
}

.drop_shadow {
  @apply drop-shadow-sm shadow-black/70;
}

.grid_two {
  @apply grid grid-cols-2;
}

.section_container {
  @apply container mx-auto px-1;
}

.section_margin {
  @apply py-7 lg:py-10 xl:py-14;
}

.section_padding {
  @apply py-7 lg:py-20 xl:py-28;
}

.header_height {
  @apply xl:h-[45rem] lg:h-[40rem] md:h-[35rem] sm:h-[30rem] h-[25rem];
}

.header_wrapper {
  @apply relative header_height rounded-md;
}

.click_effect {
  @apply active:scale-95 transition-all;
}

/* Rich Text */
.primary_title {
  @apply mt-10 text-xl md:text-2xl lg:text-3xl xl:text-4xl leading-tight uppercase;
}

.secondary_title {
  @apply text-lg md:text-xl leading-tight;
}

.third_title {
  @apply text-lg md:text-xl leading-tight;
}

.paragraph {
  @apply mb-4 last:mb-2 text-justify text-lg;
}

/* Text Sizes */
.section_title {
  @apply arvo text-3xl sm:text-4xl lg:text-5xl xl:text-6xl font-extrabold uppercase tracking-normal leading-7 mb-5;
}

.title {
  @apply arvo text-3xl sm:text-4xl lg:text-5xl xl:text-6xl font-extrabold uppercase tracking-normal leading-7 drop-shadow-sm shadow-black/10 my-3;
}

.subtitle {
  @apply arvo text-xl sm:text-2xl md:text-3xl;
}

/* Button */
.button {
  @apply space_mono cursor-pointer px-4 py-2 rounded-sm border-2 border-opacity-0 hover:border-opacity-100 active:scale-[99%] transition;
}

.button_primary {
  @apply button bg-yellow-400 hover:bg-opacity-0 text-black hover:text-yellow-400 border-yellow-400;
}

.button_secondary {
  @apply button underline text-yellow-400 border-yellow-400;
}

.btn_text {
  @apply text-sm lg:text-base;
}

.btn_config {
  @apply px-7 py-2 rounded-md hover:scale-105 active:scale-95 transition-all duration-75;
}

.btn_primary {
  @apply btn_config btn_text bg_accent box_shadow;
}

.btn_secondary {
  @apply btn_config btn_text underline drop_shadow text-[#242424];
}

.header_sizes {
  @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
}

.header_subtext {
  @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl font-extrabold uppercase tracking-wide mb-2;
}

.button_config {
  @apply rounded-lg w-fit px-5 py-3 md:px-7 md:py-4 transition_config hover:shadow-md hover:scale-105 active:scale-[98%] focus:outline-none;
}

.countdown_padding {
  @apply px-3 py-1 sm:px-5 sm:py-1 lg:px-10 lg:py-2;
}

.flex_col {
  @apply flex flex-col;
}

.flex_end {
  @apply flex items-end;
}

.flex_center {
  @apply flex justify-center items-center;
}

.transition_config {
  @apply transition-all ease-in-out duration-300;
}

.gradient {
  @apply from-yellow-400 via-yellow-300 to-yellow-200;
}

.gradient_secondary {
  @apply from-[#f8bf33] via-[#f8ce19] to-[#ffdc02];
}

.conference_card_title {
  @apply text-xl md:text-2xl font-semibold uppercase !tracking-tight !leading-none;
}

.conference_card_info {
  @apply text-lg sm:text-xl font-semibold;
}

/* Navigation Bar */

.nav_links {
  @apply relative text-2xl uppercase outline-none h-12 flex_center px-3 transition hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-yellow-400 hover:via-yellow-300 hover:to-yellow-200;
}

.nav_dropdown {
  @apply text-2xl px-4;
}

/* Header Grid */

.header_grid {
  @apply rounded-md p-4 cursor-default;
}

.header_grid_with_text {
  @apply header_grid bg-gradient-to-tr gradient text-black/80 font-medium text-sm lg:text-base !leading-none;
}

.header_grid_empty {
  @apply header_grid bg-gradient-to-tr gradient_secondary;
}

.header_grid_effects {
  @apply hover:rotate-6 hover:scale-110 transition-all duration-300 hover:shadow-lg hover:shadow-black/30;
}

/* Upcoming Conferences */

.conference_card_info_wrap {
  @apply h-full w-full bg-zinc-800 flex_col justify-between;
}

.conference_card_orientation {
  @apply md:group-odd:text-right md:group-even:items-start md:group-odd:items-end pl-2 md:group-odd:pr-4 md:group-odd:ml-auto md:group-even:pl-4;
}

/* Event Page */

.event_tab_text {
  @apply text-lg sm:text-2xl lg:text-4xl uppercase leading-none tracking-tight;
}

.event_button_text {
  @apply text-base sm:text-xl lg:text-3xl uppercase leading-none tracking-tight;
}

.event_tabs_wrapper {
  @apply flex flex-wrap gap-x-1 gap-y-1 mb-2 sm:mb-0;
}

/* Forms */

.field {
  @apply w-full bg-transparent border-b-white border-b-[1px] p-2 text-white placeholder-gray-400;
}

.question_title {
  @apply text-2xl;
}

.question_subtitle {
  @apply text-xl pl-3 italic;
}

.field_input {
  @apply p-2 text-lg rounded-md border focus:outline-none focus:border-blue-500;
}

.question_wrapper {
  @apply py-4;
}

.validation_text {
  @apply text-red-600 font-medium;
}
